/* Configuraciones de estilo */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('../images/bg2.jpg');
    margin-top: 5rem;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
 /* Indicamos que existe contenido en este pseudo-elemento, Se posiciona de manera absoluta, para poder estirarlo */
 body:before {
    content:'';
    position: absolute;
        top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 20%;
    position: relative /* Posicionarlo encima del pseudo-elemento */
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative /* Posicionarlo encima del pseudo-elemento */
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.0rem;
    margin: 0 auto;
}

#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
    position: relative /* Posicionarlo encima del pseudo-elemento */
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
    position: relative /* Posicionarlo encima del pseudo-elemento */
}

.link {
    display: block;
    background-color: rgb(0 196 255 / 20%);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;
    position: relative /* Posicionarlo encima del pseudo-elemento */

}

.link:hover {
    background-color: rgb(0 53 150 / 70%);
    color: #ffff;
    border: none;
    position: relative /* Posicionarlo encima del pseudo-elemento */
}
